# Node.js Modules
node_modules/

# Distribution / Build Folders
dist/
build/

# Dependency management
package-lock.json
yarn.lock

# Environment configuration files
.env

# IDE - Specific files and folders
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Debug & Temporary files
*.log
*.tmp
tmp/
temp/

# OS- Specific files
.DS_Store
Thumbs.db